<%- include ('parts/header') %>
</head>
<body>
    <div class = "container">
        <table id="patients" class="table table-bordered">
            <thead>
                <tr>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Date of Birth</td>
                    <td>Contact</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Daniel</td>
                    <td>Addo</td>
                    <td>Dec 16, 1988</td>
                    <td>0245431234</td>
                </tr>
                <tr>
                    <td>Comfort</td>
                    <td>Ofosuwaa</td>
                    <td>April c 11, 1985</td>
                    <td>055423176</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
